body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url(https://wallpaperaccess.com/full/8177151.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: 300px;
}

li{
    display: inline;
    font-size: 1.05em;
}

li a{

    text-decoration: none;
    color: whitesmoke;
    padding: 0px 50px;
    opacity: 30%;
    transition: 80ms ease-in-out;
}


li a:hover{

    opacity: 80%;
    border-bottom-color: whitesmoke;
    border-bottom-width: 2px;
    border-bottom-style: groove;
    box-sizing: border-box;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn-login{
    margin-left: 300px;
    width: 80px;
    height: 30px;
    background: transparent;
    border: none;
    color: lightgray;
    transition: 300ms ease-in-out;
}

.btn-login:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, .5);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    transform: scale(1.15);
}


.wrapper{

    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    margin-top: 40px;
    margin-left: 550px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(255, 255, 255, .5);
    transition: all 0.5s

}

.wrapper{
    display: none;
}



.wrapper .form-box{

    padding: 20px 0px 0px 40px;
    width: 100%;
}

.wrapper.active{
    transform: scale(1..15);
    display: flex;
    transition-property: all;

}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    color: lightgray;
    background-color: #162932;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px) translateY(-70px);
    
}

.wrapper{
    display: none;
}


.form-box h2{

    font-size: 2em;
    color: whitesmoke;
    margin-right: 80px;
    margin-top: 50px;
    text-align: center;
    transition: 400ms ease-in-out;
}

.form-box h2:hover{
    transform: scale(1.15);
}

.input-box{

    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid lightgray;
    margin: 30px 0;
    width: 300px;
}


.input-box label{

    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: lightgray;
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: 300ms ease-in-out;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: 10px
}

.input-box input{

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    margin-top: 10px;
    color: lightgray;
}

.input-box .icon{

    position: absolute;
    right: 5px;
    font-size: 1.2em;
    line-height: 57px;
    transition: 300ms ease-in-out;
}

.input-box .icon:hover{
    color: lightgray;

}

.remember-forgot{
    font-size: 0.9em;
    font-weight: 500px;
    margin: -15px 0px 15;
    display: flex;
    justify-content: space-between;
    width: 300px; 
}

.remember-forgot label input{

    accent-color: #162932;
    margin-right: 3px;
    margin-bottom: 30px;
    width: 20px;
}

.remember-forgot label{
    color: lightgray;
}

.remember-forgot a{
    color: lightgray;
    text-decoration: none;
    transition: 150ms ease-in-out;
    box-sizing: border-box;
    height: 30px;
    
}

.remember-forgot a:hover{
    transform: scale(1.15);
}

.btn{
    width: 300px;
    height: 40px;
    background: lightgray;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: 150ms ease-in-out;
}

.btn:hover{
    backdrop-filter: blur(10px);
    background: transparent;
    color: lightgray;
    border-color: whitesmoke;
    border-style: groove;
    border-width: 2px;
}

.login-register{

    text-align: center;
    margin-right: 100px;
    justify-content: space-between;
}

.login-register p{
    color: lightgray;
    font-size: 1em;
    text-decoration: none;
    
    
}

.login-register p a{
    color: rgba(217, 217, 217, 0.677);
    text-decoration: none;
    transition: 800ms ease-in-out;
}

.login-register p a:hover{

    text-decoration: underline;

}


